html {
  font: 1em/1.4 "Helvetica Neue", "Helvetica", "Segoe UI", Arial, sans-serif;
  color: #333;
  border-top: 3px #888 solid;
}

html, body{
  padding: 0; margin: 0;
}

.when-list {
  margin-top: 3em;
}

.when-list__entry {
  counter-reset: action;
  margin-bottom: 2em;
}

.when-list__entry .action-title {
  font-size: 0.7em;
  color: #aaa;
  font-weight: normal;
  margin-bottom: 0.2em;
}
.when-list__entry .action-name {
  font-weight: bold;
  color: #333;
  display: block;
  font-size: 2em;
  margin-top: -0.3em;
}

.when-list__entry .actions {
  margin-top: 0; padding-left: 1em;
  list-style-type: none;
}
.actions .action {
  counter-increment: action;
  display: block;
}
.actions .action:first-child:last-child:before {
  opacity: 0;
}

.when-list .actions .action:first-child:last-child {
  font-size: 1.4em;
  font-weight: bold;
}

.actions .action:before {
  color: #aaa;
  content: counter(action);
  font-size: 0.7em;
  opacity: 1;
  transition: opacity 0.5s;
  width: 1em;
  padding-right: 1em;
  text-align: right;
}

.when-list__entry .ui-input {
  border: 1px #eee solid;
  border-width: 0 0 1px 0;
  padding-left: 0;
  border-radius: 0;
  min-width: 15rem;
}

.when-list__entry .action .ui-input {
  font-size: 1.1em;
}

.ui-input.action-name {
  width: 17rem;
}

.when-list__entry .controls {
  text-align: right;
  float: right;
  opacity: 0;
  transition: opacity 0.3s;
}

.when-list__entry:hover .controls {
  opacity: 1;
}

.container {
  max-width: 34em;
  width: 100%;
  margin: 0 auto 6em;
  position: relative;
}

.add-entry-form {
  margin-bottom: 5em;
  margin-top: 0;
}

.ui-button,
.show-next-toggle:after,
.ui-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5em 1em;
  border: 0;
  color: #fff;
  background-color: #888;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
  font-size: 1em;
  line-height: 2;
}

.ui-label {
  display: inline-block;
  padding: 0.5em 0;
  min-width: 0;
  background: transparent;
  color: #888;
}

.ui-button:active,
.show-next-toggle:active:after {
  box-shadow: inset 0 -0.1em 1em rgba(0,0,1, 0.5);
}

.show-next-toggle {
  border: 0;
}
.show-next-toggle:after {
  display: inline-block;
  content: attr(title);
  float: right;
}

.show-next-toggle:checked {
  display: none;
}

.show-next-toggle + * {
  display: none;
}

.show-next-toggle:checked + * {
  display: inherit;
}

.show-next-toggle {
  position: absolute;
  right: 0;
  top: -3rem;
  cursor: pointer;
}

.footer {
  font-size: 1rem;
  position: absolute;
  bottom: -6rem;
  -webkit-transform: scale(0.7);
  -webkit-transform-origin: 0 100%;
}
.ui-button .action {
  color: white;
  text-decoration: none;
}

.when-list:empty ~ .download-container {
  display: none;
}

.inverted {
  background: currentColor;
}

.delete {
  color: #a00001;
}

.ui-label .action {
  text-decoration: none;
  color: inherit;
}

.editing .editable {
  opacity: 0.4;
}

.editing .editing {
  opacity: 1;
}

@media screen and (min-width: 30em) {
  .when-list__entry .ui-input {
    min-width: 30rem;
  }

  .ui-input.action-name {
    width: 32.25rem;
  }

  .when-list__entry.editable .delete:hover {
    opacity: 1;
  }

  .ui-label .action:hover {
    color: black;
  }
}


.hidden {
  display: none;
}
